* {
	margin: 0;
	padding: 0; 
	border: 0;
	list-style: none;
	font-weight: normal;
}

@white: #fff;
@blue: #0091be;
@grey: #eeeeee;
@black: #000;
@red: #c25234;
@green: #40c95d;
@cyan: #00aced;
@dark-blue: #3c5a98;
@dark-grey: #3c3838;
@yellow: #d7d93f;

.transition(@property, @duration, @function, @delay) {
	-webkit-transition: @arguments;
	-moz-transition: @arguments;
	transition: @arguments;
}

html {
	font-size: 10px;
}

body {
	font-family: 'Roboto-Regular', sans-serif;
	font-size: 1.6rem;
	background: @white;
}

a {
	text-decoration: none;
	.transition(color, 0.3s, ease, 0s);
	
	&:hover {
		color: @blue;
	}
}

.header {
	padding: 1.35rem 0 0.9rem 0;
	border-bottom: 5px solid #fad027;
	text-align: center;
}

.container {
	width: 700px;
	margin: 0 auto;
}

.menu {
	margin-right: 1.5rem;
	padding: 1.6rem 0;
	font-size: 1.8rem;
} 

.menu-list__item {
	display: inline-block;
	margin-right: 3.4rem;
	letter-spacing: 0.01rem;

	&:last-child {
		margin-right: 0;
	};
}

.menu__link {
	color: @black;
}

.menu__link_active-js {
	color: @blue;
	border-bottom: 2px solid @blue;
}

.content {
	text-align: center;

		&:before {
		content: "";
		display: block;
		height: 80.5px;
	}
}

.content__item {
	padding: 30px 0;
	border: 1px solid;
	margin: 300px 0;

	&:first-child {
		margin-top: 0;
		padding-top: 83px;
	}
}

.title {
	margin-bottom: 20px;
}