* {
  margin: 0;
  padding: 0;
  border: 0;
  list-style: none;
  font-weight: normal;
}
html {
  font-size: 10px;
}
body {
  font-family: 'Roboto-Regular', sans-serif;
  font-size: 1.6rem;
  background: #fff;
}
a {
  text-decoration: none;
  -webkit-transition: color 0.3s ease 0s;
  -moz-transition: color 0.3s ease 0s;
  transition: color 0.3s ease 0s;
}
a:hover {
  color: #0091be;
}
.header {
  padding: 1.35rem 0 0.9rem 0;
  border-bottom: 5px solid #fad027;
  text-align: center;
}
.container {
  width: 700px;
  margin: 0 auto;
}
.menu {
  margin-right: 1.5rem;
  padding: 1.6rem 0;
  font-size: 1.8rem;
}
.menu-list__item {
  display: inline-block;
  margin-right: 3.4rem;
  letter-spacing: 0.01rem;
}
.menu-list__item:last-child {
  margin-right: 0;
}
.menu__link {
  color: #000;
}
.menu__link_active-js {
  color: #0091be;
  border-bottom: 2px solid #0091be;
}
.content {
  text-align: center;
}
.content:before {
  content: "";
  display: block;
  height: 80.5px;
}
.content__item {
  padding: 30px 0;
  border: 1px solid;
  margin: 300px 0;
}
.content__item:first-child {
  margin-top: 0;
  padding-top: 83px;
}
.title {
  margin-bottom: 20px;
}
