.accordion {
    width: 300px;
    float: right;
    text-align: center;
    margin-top: 20px;
    border: 1px solid @grey;
}

.accordion__layout_active  {
    
    .accordion__title {
        background: @red;
    }
}

.accordion__content_js {
    display: none;
}

.title {
    font-size: 21px;
    background: @grey;
    cursor: pointer;
    border-bottom: 1px solid @black;
}

.title_active-js {
    background: @red;
}

.text {
    border-bottom: 1px solid @grey;
    padding: 10px;
    display: none; 
}