.menu {
    width: 507px;
    font-size: 20px;
    border: 1px solid @black;
    
    &:after {
        content: "";
        display: block;
        clear: both;
    }
}

.menu__item {
    float: left;
    border-right: 1px solid @black;

    &:nth-of-type(2) {
       position: relative;
    }

    &:last-child {
        border-right: none;
    }
}

.menu__link {
    display: block; 
    padding: 0 45px; 

    &:hover {
        background: @red;
        color: @white;
    } 
}

.menu__link_active-js {
    background: @red;
}

.sub-menu {
    display: none; 
    position: absolute;
    width: 100%;
    left: -1px;
    font-size: 17px;
    text-align: center;
    border: 1px solid @black;
}

.sub-menu__item {
    margin: 10px 0;
    border-bottom: 1px solid @black;
    
    &:last-child {
        border-bottom: none;
    }
}

.menu__link_products {

    &:hover {
         color: red;
    }
}

