* {
  margin: 0;
  padding: 0;
  border: 0;
  list-style: none;
  font-weight: normal;
}
/*********Общие стили*********/
body {
  font-family: Arial;
  color: #000;
  background: #fff;
}
a {
  text-decoration: none;
  color: #000;
}
#header {
  padding-top: 50px;
}
.container {
  width: 1200px;
  margin: 0 auto;
}
/*********Файлы стилей*********/
.accordion {
  width: 300px;
  float: right;
  text-align: center;
  margin-top: 20px;
  border: 1px solid #ddd;
}
.accordion__layout_active .accordion__title {
  background: red;
}
.accordion__content_js {
  display: none;
}
.title {
  font-size: 21px;
  background: #ddd;
  cursor: pointer;
  border-bottom: 1px solid #000;
}
.title_active-js {
  background: red;
}
.text {
  border-bottom: 1px solid #ddd;
  padding: 10px;
  display: none;
}
.menu {
  width: 507px;
  font-size: 20px;
  border: 1px solid #000;
}
.menu:after {
  content: "";
  display: block;
  clear: both;
}
.menu__item {
  float: left;
  border-right: 1px solid #000;
}
.menu__item:nth-of-type(2) {
  position: relative;
}
.menu__item:last-child {
  border-right: none;
}
.menu__link {
  display: block;
  padding: 0 45px;
}
.menu__link:hover {
  background: red;
  color: #fff;
}
.menu__link_active-js {
  background: red;
}
.sub-menu {
  display: none;
  position: absolute;
  width: 100%;
  left: -1px;
  font-size: 17px;
  text-align: center;
  border: 1px solid #000;
}
.sub-menu__item {
  margin: 10px 0;
  border-bottom: 1px solid #000;
}
.sub-menu__item:last-child {
  border-bottom: none;
}
.menu__link_products:hover {
  color: red;
}
.tabs {
  font-size: 15px;
  text-align: center;
  margin-top: 100px;
}
.tabs__link {
  border: 1px solid #000;
  border-top-left-radius: 5px;
  border-top-right-radius: 5px;
  padding: 4px;
}
.tabs__link:hover {
  color: red;
  position: relative;
  top: -1px;
}
.tabs_active-js {
  color: red;
  position: relative;
  top: -1px;
}
.content {
  margin-top: 10px;
}
.content__item {
  display: none;
}
.content__item:first-child {
  display: block;
}
