* {
	margin: 0;
	padding: 0; 
	border: 0;
	list-style: none;
	font-weight: normal;
}

@white: #fff;
@black: #000;
@red: red;
@grey: #ddd;

/*********Общие стили*********/

body {
	font-family: Arial;
    color: @black;
    background: @white;
}

a {
    text-decoration: none;
    color: @black;
}

#header {
    padding-top: 50px;
}

.container {
    width: 1200px;
    margin: 0 auto;
}

/*********Файлы стилей*********/

@import 'accordion.less';
@import 'menu.less';
@import 'tabs.less';





