.tabs {
    font-size: 15px;
    text-align: center;
    margin-top: 100px;
}

.tabs__link {
    border: 1px solid @black;
    border-top-left-radius: 5px;
    border-top-right-radius: 5px;
    padding: 4px;

    &:hover {
        color: @red;
        position: relative;
        top: -1px;
    }
}


.tabs_active-js {
    color: @red;
    position: relative;
    top: -1px;
}

.content {
    margin-top: 10px;
}
 
.content__item {
    display: none;

    &:first-child {
        display: block;
    }
}
